* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.ui.cards > .card > .image {
  height: 250px;
  background: #fff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ui.cards > .card > .content > .subtitle {
  height: 28px;
  color:#333;
}

.ui.cards > .card > .content > .description {
  height: 36px;
  overflow: hidden;
  margin-bottom: 0px;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
  padding-top: 20px;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.cards > .card > .bottom {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 35px;
  width: 90px;
  background: #fb8e29;
  text-align: center;
  line-height: 35px;
  color:#fff;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
  background-color: #fb8e29;
  color:#fff;
}

.ui.grid.container {
  margin-top: 45px;
}

